/*General styles used across all pages*/

:root{
	--primary: rgb(34, 139, 34);
}

*{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

footer{
	position: fixed;
	bottom: 0;
	left: 5px;
}

.Dark{
	background-color: rgb(44,44,45);
	color: white;
	background-image: url("assets/dark-background.jpg");
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.Light{
	background-color: whitesmoke;
	color: black;
	background-image: url("assets/light-background.jpg");
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#toggleDarkLightBtn{
	position: fixed;
	bottom: 30px;
	right: 30px;
	background: none;
	border: none;
  	cursor: pointer;
}

#toggleDarkLightBtn img{
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

#toggleDarkLightBtn img:hover{
	filter: brightness(80%);
}

/*navigationBar is what will be on top of every page with the purpose of navigating between pages*/

.navigationBar ul{ /*no list style, removing default padding, applying a margin and hiding overflows*/
	list-style-type: none;
	display: flex; /*flex container in row for every li in ul*/
	overflow: hidden;
	background-color: rgb(93, 93, 93);
}

.navigationBar li{
	border-right: 1px solid black;
}

.navigationBar li:last-child{
	border-right: none; /*last child in the list shouldn't have a border on the right*/
	margin-left: auto; /*also last child is About Us who I personally prefer to be far to the right*/
}

.navigationBar li a{
	display: block; /*so you can click the entire box*/
	color: white;
	width: 80px;
	padding: 14px 20px ;
	text-decoration: none; /*removing the underline*/
	text-align: center;
}

.navigationBar li a:hover{
	background-color: black;
}

.navigationBar .active{
	background-color: var(--primary);
}

.headerStyle1{
	text-align: center;
	font-size: 50px;
	color: black;
	border: 8px solid var(--primary);
	background-color: var(--primary);
}

.centerText{
	text-align: center;
}


/*index/Home page*/

#indexBody.Dark{
	background-image: url("assets/dark-background.jpg");
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#indexBody.Light{
	background-image: url("assets/light-background.jpg");
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}

#welcomeScreen p{
	margin-top: 30px;
	text-align: center;
	font-size: 40px;
}


#shopNowBtn{
	
	display: flex;
  	justify-content: center;
  	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	padding: 2px 12px;
	width: 160px;
	height: 100px;
	font-size: 40px;
	border-radius: 30px;
	border: 2px black;
	cursor: pointer;
	text-align: center;
	background-color: var(--primary);
	color: black;
	
}

#shopNowBtn:hover{
	filter: brightness(80%);
}

/*Store page*/

#browseProducts{
	display: flex;
	flex-wrap: wrap;
	row-gap: 1.5%;
	column-gap: 6.3%;
	margin-left: 4.6%;
	margin-top: 1%;
}

.product img{
	width: 200px;
	height: 200px;
	cursor: pointer;
}

/*Contact Us page*/

#contactForm{
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-size: 1.2em;
	color: white;
}

#contactForm form{
	padding: 80px;
	border-radius: 50px;
	background-color: var(--primary);
}

.formInputStyle1{
	width: 200px;
	height: 30px;
	margin-bottom: 20px;
}

.textAreaStyle1{
	width: 200px;
	height: 80px;
	margin-bottom: 20px;
}

.labelStyle1{
	font-weight: bold;
	display: block;

}

.formButtonStyle1{
	display:inline-block;
	width: 200px;
	height: 30px;
	color: black;
	background-color: whitesmoke;
}